
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
/*# sourceMappingURL=normalize.min.css.map */

@font-face {
    font-family: "High Tower Text";
    src: url("../fonts/HighTowerText.ttf");
}
/* @font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular.ttf");
} */
@font-face {
    font-family: "Neutra Text";
    src: url("../fonts/NeutraTextBook.otf");
}
body{
    background: 
    url("../img/background_body_stamp.png") -466px 248px no-repeat,
    url("../img/background_body_stamp.png") 624px 1103px no-repeat,
    url("../img/background_body.jpg") repeat;
    font: 14px "High Tower Text";
    color: rgb(75, 75, 75);
}
.centered{
    width: 960px;
    margin: 0 auto;
    display: table;
}
.white-transparent{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 11px 24px 2px rgba(0, 1, 1, 0.45);   
}
.top-margined{
    margin-top: 50px;   
}
ul{padding: 0}

/* Header */

header{
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: none !important;
}
header .logo{
    float: left;  
    margin: 1px 0 4px 0;
}
header .authorize, .menu{ 
    float: right; 
    margin: 0;
}
header nav li{
    float: left;
    list-style-type: none;
    text-transform: uppercase;
}
.authorize li{
    margin-left: 4px;
    margin-top: 18px;
}
.menu li{
    margin-left: 18px;
    margin-top: 16px;
}
header nav a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    transition: text-shadow 0.5s;
}
header nav a:hover{
    text-shadow: 1px 0px 10px rgb(75, 75, 75);
}

/* Slider */

.slider{
    position: relative;
    width: 1200px;
    min-height: 80px;
}
.slider img{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.slider img.current{
    opacity: 1;
}

/* Info section (Sign-Up, Visit, Shipping)  */

.info{
    padding-top: 35px;
}
.info > div{
    width: 320px;
    float: left;
}
.info img, .info form{
    display: block; /* image center align */
    width: 240px;
    margin: 0 auto;    
}
.info img{
    border: 1px solid rgb(75, 75, 75);
}
.info form{
    width: 242px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 15px 20px;
    background-color: rgb(233, 232, 232);
}
.info fieldset{
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
}
.info legend{
    text-align: center;
}
.info label{
    display: inline-block;
    margin: 5px 0;
}
.info input{
    width: 190px;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    border: none;
    box-shadow: inset 1px 1px 5px 0px rgba(0, 1, 1, 0.23);
}
.info input::placeholder{
    color:rgb(175, 175, 175)
}
.info input:focus{
    outline: 1px solid lightgrey;;
}
.info h3{
    margin: 17px auto 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    line-height: 20px;
}

/* Order top proposiotions section */

.order-container{
    padding: 20px;
}
.order > article{
    width: 430px;
    color: white;  
}
.order > article:nth-child(odd){
    float: left;
}
.order > article:nth-child(even){
    float: right;
}
.order-item{
    background-color: rgb(45, 45, 45);
    padding-bottom: 20px;
    display: table;
}
.order-item h3{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 20px;
}
.order-item p{
    font: 14px/24px "Neutra Text";
    padding: 0 25px;
    margin: 10px auto 20px;
}
.order-item table, 
.order-item form,
.order-item img:nth-last-child(1){
    float: left;
}
.order-item table,
.order-item form{
    font-size: 18px;
}
.order-item table{
    text-transform: capitalize;
    margin-left: 25px;
}
.order-item form{
    margin-left: 50px;
    font-family: "Neutra Text";
    text-transform: uppercase;
}
.order-item input{
    width: 40px;
    height: 30px;
    padding-left: 15px;
    margin: 0 0 20px 10px;
    border: none;
    box-shadow: inset 1px 2px 5px 0px rgba(0, 1, 1, 0.2);   
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
.order-item form button{
    padding: 0;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: rgb(45, 45, 45);
}
.order-item form button:hover{
    cursor: pointer;
}
.order-item img:nth-last-child(1){
    margin: -5px 0px 0px 27px;
    max-height: 90px;
}
.order-item img:nth-last-child(1):hover{
    transform: scale(1.02);
    transition: 500ms ease-in-out;
}
.quantity{
    display: none;
}

/* Partners section */

.partners{
    box-sizing: border-box;
    padding: 0 35px 35px 35px;
}
.partners h2{
    font-size: 60px;
    font-weight: 200;
    word-spacing: -6px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 17px 0 40px 0;
}
.partner{
    width: 270px;
    height: 270px;
    line-height: 270px;
    float: left;
    text-align: center;
}
.partner img{
    vertical-align: middle;
    width: 95%;
}
.partner{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.partner:nth-of-type(1){
    background-image: url("../img/background_delille.jpg");
}
.partner:nth-of-type(2){
    margin: 0 40px;
    background-image: url("../img/background_grand_ciel.jpg");
}
.partner:nth-of-type(3){
    background-image: url("../img/background_doyenne.jpg");
}

/* Footer */

footer{
    background-color: rgb(45, 45, 45);
    padding: 35px 0 100px 0;
    color: white;
    overflow: auto;
    font-family: "Neutra Text";
}
footer ul{
    margin: 0;
    padding: 0;
}
footer nav{
    width: 210px;
    float: left;
}
footer h4{
    font-size: 18px;
    margin: 0;
}
footer li{
    list-style-type: none;
    line-height: 1.5;
}
footer .about-us{
    text-transform: capitalize;
}
.contacts{
    margin: 0 165px;
}
.contacts div{
    height: 45px;
    background-repeat: no-repeat;
    padding-left: 60px;
    line-height: 43px;
}
.mail{
    background-image: url("../img/contacts_mail.png");
}
.phone{
    background-image: url("../img/contacts_phone.png");
}
footer .social-media li{
    display: inline-block;
    margin-top: 20px;
}
footer .social-media li:nth-child(2){
    margin: 0 20px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}



@media (max-width: 1200px){
    .slider, .info-img, .bottle{width: 100%;}
}

@media (min-width: 961px) and (max-width: 1200px){

.centered{width: 900px;}

/* Info section */

.info > div {width: 300px;}

/* Order top proposiotions section */
.order > article{width: 400px;}
.order-item form{margin-left: 45px;}
.order-item img:nth-last-child(1){margin-left: 10px;}

/* Parnters section */
.partners h2{font-size: 56px;}
.partner:nth-of-type(2){margin: 0 1%;}

/* Footer */
.contacts{margin: 0 15%;}
}


@media (max-width: 960px){

.centered{width: 95%;}
.top-margined{margin-top: 20px;}
    
.order > article:nth-child(odd){float: none;}
.order > article:nth-child(even){float: none;}
.order > article{margin: 20px auto 0 auto;}

.order-item form{margin-left: 25px;}
.order-item form > *{
    display: inline-block;
    margin: 0;
    text-align: center;
}
.order form br, .order-item label{display: none;}

.order-item input{
    width: 40px;
    height: 31px;
    box-sizing: border-box;
    padding: 0px;  
}
.order-item form button{
    display: block;
    margin-top: 24px;
}
.quantity{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(75, 75, 75);
    background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(235,236,236,1) 18%);
}
}



@media (min-width: 769px) and (max-width: 960px){

/* Header */
header .logo{
    float: none;
    display: block;
    margin: 0 auto;
    width: 300px;
}
header nav{display: table; width: 100%;}
header .menu{ float: left; }
.centered li{margin: 10px;}

/* Info section (Sign-Up, Visit, Shipping) */
.info > div{width: 33.33%;}
.info h3{margin: 17px auto; font-size: 30px;}

/* Parnters section */
.partners h2{font-size: 40px; text-align: center;}
.partner{width: 32%;}
.partner:nth-of-type(2){margin: 0 2%;}

/* Footer */
footer nav{width: 32%;}
.contacts{margin: 0 2%;}
}



@media (max-width: 768px){

/* Header */
header.white-transparent{position: fixed; background-color: rgba(255, 255, 255, 1);}
header .logo{width: 250px;}
.burger{
    position: relative;
    width: 30px;
    height: 20px;
    float: right;
    margin-top: 15px;
}
.burger:before,
.burger:after, .burger span{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(75, 75, 75);
    transition: all .5s ease-in-out;
}
.burger:before{
    top:0
}
.burger:after{
    bottom: 0;
}
.burger span{
    top: 9px;
}
header nav{
    position: absolute;
    top: 44px;
    left: -250px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 11px 24px 2px rgba(0, 1, 1, 0.45);  
    transition: all 0.5s ease-in-out;
}
header .authorize, .menu{float: none;}
header nav li{float: none;}
.authorize li{margin: 15px;}
.menu li{margin: 15px;}
.authorize{border-bottom: 1px solid rgb(75, 75, 75)}
.authorize li:nth-child(2){display: none;}

nav.active{left: 0;}
.burger.active:before{
    transform: rotate(45deg);
    top: 9px;
}
.burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.active span{transform: scale(0);}

/* Info section (Sign-Up, Visit, Shipping) */
.slider{min-height: 46px}

/* Info section (Sign-Up, Visit, Shipping) */
.info > div{width: 100%;}

/* Footer */
footer nav{width: 100%; font-size: 20px;}
footer nav h4{text-align: center;}
.contacts{margin: 0 auto;}
}



@media (min-width: 481px) and (max-width: 768px){

/* Order top proposiotions section */

.order > article{width: 400px;}

/* Parnters section */
.partners h2{font-size: 30px; word-spacing: 0px; text-align: center; margin: 10px 0;}
.partner{width: 300px; height: 300px; line-height: 300px; float: none; margin: 10px auto;}
.partner:nth-of-type(2){margin: 0 auto;}
}



@media (max-width: 480px){

body{
    background-position: center;
    background-size: 100%;
}

/* Order top proposiotions section */

/* .order-container{padding: 5px;}

.order > article{width: 300px;}

.order-item h3{font-size: 16px; margin: 10px 0;}
.order-item p{font: 12px/16px; padding: 0 10px; margin: 5px auto 10px;}
.order-item table{font-size: 12px;margin-left: 10px;}
.order-item img:nth-last-child(1){margin: -10px 0px 0px 10px; width: 70px;} */

.order-container{padding: 5px;}

.order > article{width: 98%;}

.order-item h3{font-size: 16px; margin: 10px 0;}
.order-item p{font: 12px/16px; padding: 0 10px; margin: 5px auto 10px;}
.order-item table{font-size: 1em;}
.order-item img:nth-last-child(1){max-width: 5em;}

.order-item table,
.order-item form,
.order-item img:nth-last-child(1){margin: 0 5px;}



/* Parnters section */
.partners h2{font-size: 20px; word-spacing: 0px; text-align: center; margin: 10px 0;}
.partner{width: 250px; height: 250px; line-height: 250px; float: none; margin: 10px auto;}
.partner:nth-of-type(2){margin: 0 auto;}

.order-item form button{margin-top: 7px;}

/* Footer   */
footer h4{margin-top: 30px;}
.contacts div{ background-size: 35px 35px; height: 35px; padding-left: 40px; line-height: 35px;}
footer .social-media li{width: 33.33%; float: left; margin-top: 10px; text-align: center;}
footer .social-media li:nth-child(2){margin: 10px 0 0 0;}
}



@media (max-width: 320px){
header{top: 0; padding-bottom: 5px;}
header .logo{width: 200px;}
.slider{display: none;}
.info h3{font-size: 20px;}
.order-item form button{margin-top: 20px;}
.partner{
    width: 100px;
    height: 100px;
    line-height: 100px;
}
/* Footer   */
.contacts div{ background-size: 10%; height: 35px; padding-left: 40px; line-height: 35px;}
}    