/* start full reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* end full reset*/
body{
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
}
.container{
    width: 1130px;
    margin: 0 auto;
    display: table;
}
main{
  padding: 0 .5em;
}
section{
  margin-top: 20px;
}
h1{
  margin-top: 50px;
  font-size: 3em;
  padding: 0.1em;
  color: white;
}
#game{
  position: relative;
}
#gamefield{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  width: 530px;
  padding: 0px;
  color:white;
  outline: 10px groove rgb(55, 55, 55);
  background: linear-gradient(0deg, rgba(85,0,0,1) 0%, rgba(180,0,0,1) 15%, rgba(85,0,0,1) 30%, rgba(180,0,0,1) 50%, rgba(85,0,0,1) 70%, rgba(180,0,0,1) 85%);
  
}
.tile{
  width: 125px;
  height: 125px;
  line-height: 125px;
  margin: 3px;
  text-align: center; 
  border-radius: 5px;
  box-shadow: 0px 0px 0 5px black;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(162,162,162,1) 50%);
}
.space{
  border: none;
  box-shadow: none;
  background: none;
  cursor:auto;
}
#display{
  position: absolute;
  left: 50%;
  bottom: 100px;
  color: red;
}
table{
  animation: tablemove 3s;
}
td{
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}
@keyframes tablemove{
  from{transform: translateY(0px); opacity: 1;}
  to{transform: translateY(-100px); opacity: 0;}
}
.top.active{animation: top 0.4s;} @keyframes top {from{transform: translateY(100%);}to{transform: translateY(0);}}
.right.active{animation: right 0.4s;} @keyframes right {from{transform: translateX(-100%);}to{transform: translateX(0);}}
.bottom.active{animation: bottom 0.4s;} @keyframes bottom {from{transform: translateY(-100%);}to{transform: translateY(0);}}
.left.active{animation: left 0.4s;} @keyframes left {from{transform: translateX(100%);}to{transform: translateX(0);}}

button{
  width: 265px;
  height: 50px;
  font-size: 1.5em;
  border: 1px solid rgb(55, 55, 55);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(170,0,0,1) 50%, rgba(0,0,0,1) 100%);
  color: white;
  cursor: pointer;
}
button:active{
  border: 2px solid rgb(20, 20, 20);
  transform: translate(3px)
}

@media (max-width: 1200px) {
  .container{
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 750px;
    font-size: 0.8em;
  }
  h1{
    font-size: 2em;
  }
  p{
    margin: 0.5em;
  }
}
@media (max-width: 768px) {
  .container{
    max-width: 480px;
  }
  nav{
    display: none;
  }
  .smaller aside, .bigger aside{
    width: 100%;
}
}
@media (max-width: 414px) {
  .container{
    max-width: 350px;
  }
}
@media (max-width: 375px) {
  .container{
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container{
    max-width: 280px;
  }
}